
<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body> -->
    {% extends './master.html' %}
    {% block content %}

    <br><br>
{% comment %} <div class="container">   

  
  <a href='/donors/register-donors'> Add Donors </a>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Phone Number</th>
        <th>Blood Type</th>
        <th>Blood Quantity</th>

      </tr>
    </thead>
    <tbody>
    
      {% for list in list %}
      <tr>
        <td>{{list.first_name}}</td>
        <td>{{list.last_name}}</td>
        <td>{{list.phone_number}}</td>
        <td>{{list.blood_type}}</td>
        <td>{{list.blood_quantity}}</td>

      </tr>  
      {% endfor %}
      
     
      
    </tbody>
  </table>
</div> {% endcomment %}


<div class="container">

  <h2> <b> REQUESTS HISTORY</b></h2>
<br>

    {% for message in messages %}
    
    <div class="alert alert-success">
        <a class="close" href="#" data-dismiss="alert">×</a>
                 {{ message }}
    </div>

                {% endfor %}

 
    <div class="row">
      <div class="col-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Hospital ID</th>
              <th scope="col">Blood Type</th>
              <th scope="col">Blood Quantity</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            
              {% for list in requests %}
            <tr>
              <td>H-0{{list.hospital_id}}</td>
              <td>{{list.blood_type}}</td>
              <td>{{list.blood_quantity}}</td>
              <td id="status">

                {% if list.status ==  1 %}
                  <p style="color:green;">ACCEPTED</p>
                {% else %}
                  <p style="color:red;">REJECTED</p>

                  {% endif %}

                
                {% comment %}
                
               <script>
                      let n= {{list.status}}
                if (n= 1){
                    document.getElementById("status").innerHTML="Accepted"
              
                }
                else{
                    document.getElementById("status").innerHTML="Rejected"
                }
                 
              </script> {% endcomment %}
               </td>
             
            </tr>
              {% endfor %}
            
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
{% endblock content %}
<!-- </body>
</html> -->